.container {
    background: radial-gradient(
            100% 100% at 50% 50%,
            rgba(50, 25, 250, 0.4) 10%,
            rgba(255, 255, 255, 0) 50%
    );
    backdrop-filter: blur(42px);
    padding: 10rem;
    margin: 0 auto;
}

.card {
    padding: 2rem;
}

/* DATASET PICKER */
.dataset-picker select {
    background-color: #3828a7;
    margin-left: 3%;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
    min-width: 11rem;
}


.list-and-counter {
    display: flex;
}

.list-members ul {
    background: radial-gradient(
            100% 100% at 0% 0%,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(42px);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: auto;
    border-radius: 24px;
    overflow: auto;
    min-width: 11em;
    width: 50%;
    margin: 0;
    padding: 1rem 0 1rem;
}

.counter-member {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.list-members li {
    width: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
}

.counter-member p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-shadow: #FF2D95 0 0 20px,
    #FF2D95 0 0 30px,
    #FF2D95 0 0 40px,
    #FF2D95 0 0 50px,
    #FF2D95 0 0 75px;
}


/* INPUT: MEMBER NAMES */
.add-member-container {
    margin: 3rem 0 0;
    height: 2rem;
    display: flex;
    min-width: 11em;
}

.add-member-container input {
    border: none;
    width: 100%;
}

.add-member-container button {
    background-color: rgb(0, 53, 139);
    width: 100%;
}


/* INPUT: NUMBER OF TEAMS */
.generate-teams-container {
    margin: 3rem 0 0;
    display: flex;
    height: 2rem;
    min-width: 11em;
}

.generate-teams-container button {
    background-color: darkcyan;
    width: 50%;
}

.generate-teams-container input {
    border: none;
    width: 50%;
}


/* TEAMS */
.teams-container {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}
